/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
body {
    font-family: sans-serif;
    color: #fff;
    background: #000;
    margin: 0;
}
img {
    max-width: 100%; /* DO NOT delete or change this line */
    margin-top: 20px;
}

h1 {
    font-size: 3em;
}

#cougar {
    background: #B26219;
}

#lion {
    background: #FFD5AE;
}

#tiger {
    background: #FFBD82;
}

section {
    max-width: 600px;
    margin: 0;
}

.text {
    padding: 1rem;
    margin: 20px;
    color: #000000;
    max-width: 600px;
    box-sizing: border-box;
    flex: 1 1 0;
}

.photo {
    color: #000000;
    padding-left: 1rem;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h2 {
    text-align: left;
}

header {
    display: flex;
    justify-content: space-between;
    background: #666;
    padding: 2rem;
    margin: 0;
    margin-bottom: 0rem;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav ul li {
    margin: 0;
    margin-left: 1rem;
    font-size: 18pt;
    text-transform: uppercase;
}

footer {
    text-align: center;
    margin: 0;
}

/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #0c677a;
    text-decoration: none;
}

a:hover {
    color: #82E8FF;
}

a:visited {
    color: #06272e;
}
